body{
    background-image: url("https://img-4.linternaute.com/RlGT3aFEER3F9l4nOD-Y1Wh8MDE=/1500x/smart/3ca1db7dbae543e5847e285da5b92dab/ccmcms-linternaute/20015119.jpg");
}

p {
    color: rgb(243, 6, 6);
    background-color: azure;
    width: 500px;
    border: 5px solid black;
    position: relative;
    left: 30%
    
  }